* {
    background-image: url('./image/bg_img.jpeg');
    background-repeat: no-repeat;
    background-size: cover;
    font-family: Georgia, 'Times New Roman', Times, serif;
  }
  .App {
    background-color: cornflowerblue;
    text-align: center;
    padding: 5%;
    margin: 10%;
    border: 2px solid black;
  }
  ul {
      list-style-type: none;
  }